/* START Elementor container */
.event-container {
  width: 1080px;
  margin: auto;
}
@media (max-width: 1200px) {
  .event-container {
    width: 910px!important;
  }
}

@media (max-width: 991px) {
  .event-container {
    width: 670px!important;
  }
}

@media (max-width: 768px) {
  .event-container {
    max-width: 490px!important;
  }
}

@media (max-width: 600px) {
  .event-container {
    width: 95%!important;
    padding: 0px;
  }
}
/* END Elementor container */
.event-cover {
  margin-top: 42px;
  display: flex;
  background: #E6F1F0;
}
.event-cover__img,
.event-cover__img img {
  width: 816px;
  height: 350px;
  object-fit: cover;
}
.event-cover__info {
  display: flex;
  flex-direction: column;
  padding: 24px 16px 0px 16px;
}
.event-cover__info__date {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.event-cover__info__time,
.event-cover__info__duration {
  font-size: 16px;
  font-weight: 400;
}
.event-cover__info__time {
  margin-top: 19px;
}
.event-cover__info__more {
  margin-top: 2px;
}
.event-cover__info__duration {
  margin-top: 2px;
}
.event-cover__info__time span,
.event-cover__info__duration span {
  font-weight: 600;
}
.event-cover__info__more {
  font-size: 16px;
  font-weight: 400;
  color: #169688;
}
.event-cover__info__tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 17px;
}
.event-cover__info__tags-tag {
  font-size: 16px;
  color: #169688;
  margin-right: 4px;
  margin-top: 1px;
}
.event-information {
  display: flex;
}
.event-information__price {
  margin-top: 8px;
  margin-left: 14px;
}
.event-information__price__info {
  font-size: 16px;
  margin-top: 8px;
}
.event-information__info {
  min-width: 802px;
  max-width: 802px;
}
.event-information__infoshare {
  display: flex;
  padding-top: 36px;
  padding-bottom: 11px;
  justify-content: space-between;
  border-bottom: 1px solid #DCDBDB;
}
.event-information__price__lessons {
  font-size: 16px;
  margin-top: 7px;
  font-weight: 600;
}
.event-information__price__prices {
  margin-top: 7px;
}
.event-information__price__prices-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #BB6ADF;
}
.event-information__infoshare__share {
  margin-right: 2px;
}
.event-information__infoshare__share span {
  font-size: 14px;
  color: #169688;
}
.event-information__infoshare__share svg {
  transform: translate(-2px, 2px);
}
.event-information__infoshare__info {
  display: flex;
}
.event-information__infoshare__info-item:not(:last-child) {
  margin-right: 33px;
}
.event-information__infoshare__info-item {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #484848;
}
.event-information__price__title {
  font-size: 16px;
  font-weight: 600;
  color: #4A525D;
}
.event-information__info__title {
  margin-top: 27px;
  font-size: 44px;
  font-weight: 400;
  color: #484848;
}
.event-information__info__whatsthat {
  margin-left: -1px;
  margin-top: 18px;
  font-size: 16px;
  color: #169688;
  font-weight: 600;
}
.event-information__info__forwhom {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding: 15px 0px;
  border-top: 1px solid #DBE0E0;
  border-bottom: 1px solid #DBE0E0;
}
.event-information__info__forwhom__people,
.event-information__info__forwhom__lang {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}
.event-information__info__forwhom__people span,
.event-information__info__forwhom__lang span {
  font-size: 16px;
  margin-left: 11px;
}
.event-information__info__forwhom__lang {
  margin-right: 12px;
}
.event-information__info__forwhom__lang svg {
  margin-right: -2px;
}
.event-information__info__forwhom__description {
  margin-top: 23px;
  margin-left: -2px;
  color: #4A525D;
  font-size: 16px;
  font-size: 16px;
  line-height: 22px;
}
.event-information__info__forwhom__description p {
  font-size: 16px;
  margin: 0;
  margin-top: 22px;
  margin-right: 5px;
}
.event-information__price__slider {
  display: flex;
}
.event-information__price__slider {
  margin-top: 16px;
  margin-left: -2px;
}
.event-information__price__slider-slide {
  position: relative;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.event-information__price__slider-slide__counter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.event-information__price__slider-slide__counter span {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  z-index: 2;
}
.event-information__price__slider-slide__counter:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.32;
  z-index: 1;
}
.event-information__price__slider__when {
  margin-top: 24px;
  margin-left: -2px;
}
.event-information__price__slider__when__title {
  font-size: 32px;
  color: #BB6ADF;
}
.event-information__price__slider__when-date {
  display: flex;
  margin-top: 8px;
}
.event-information__price__slider__when__dates {
  display: flex;
  margin-top: 9px;
}
.event-information__price__slider__when__dates__datelist-item,
.event-information__price__slider__when__weekdaylist-item,
.event-information__price__slider__when__timelist-item {
  margin-top: 8px;
}
.event-information__price__slider__when__dates__datelist-item {
  margin-right: 25px;
  font-size: 16px;
  color: #484848;
}
.event-information__price__slider__when__weekdaylist-item {
  font-size: 16px;
  color: #484848;
  margin-right: 16px;
}
.event-information__price__slider__when__timelist-item {
  font-size: 16px;
  color: #BB6ADF;
}
.event-information__where {
  margin-top: 32px;
}
.event-information__where__geo__address {
  color: #169688;
  font-size: 16px;
  margin-left: 12px;
}
.event-information__where__geo {
  display: flex;
  margin-top: 15px;
  margin-left: -1px;
}
.event-information__where__title {
  font-size: 32px;
  line-height: 44px;
  color: #BB6ADF;
}
.event-information__where__geo__extrainfo {
  margin-top: 11px;
  margin-left: -2px;
  font-size: 16px;
}